<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168141015532-9r4lvig0seglgfk7o579jinkip6nlu3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168141015532-9r4lvig0seglgfk7o579jinkip6nlu3n</string>
	<key>API_KEY</key>
	<string>AIzaSyBWQ32iz5okwQJitG8GJuQBU4qPgBqLJvY</string>
	<key>GCM_SENDER_ID</key>
	<string>168141015532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appTwo</string>
	<key>PROJECT_ID</key>
	<string>app-two-nov</string>
	<key>STORAGE_BUCKET</key>
	<string>app-two-nov.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168141015532:ios:747b63c3d12a9290c818c9</string>
</dict>
</plist>